﻿
@model Product[]
@{
    ViewData["Title"] = "Результаты поиска";
}

<h1>Результаты поиска</h1>

@if(Model.Length == 0)
{
    <p>Ничего не найдено </p>
}
else
{
    <ul>
        @foreach(var product in Model)
        {
            <li>
                <a href="@Url.Action("Index", "Product", new {id = product.Id})">@product.Title</a>
            </li>
        }
    </ul>
}



